html *
{
   color: #000 !important;
   font-family: Arial !important;
}

#content,
#map,
#UI {
  float: left;
  border: 2px solid black;
}

#content {
  float:left;
  background-image:
  linear-gradient(0deg, rgba(8,12,24,1) 50%, rgba(34,193,195,1) 50%, rgba(0,0,0,1) 50%);
}
#wrapper{
  position:relative;
}
#UI,#content{
  position:absolute; top:0px; left:0px;
}
.settings {
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 5px;
  float: left;
  border: 2px solid black;
  max-width: 690px;
}

.wallAdder {
  font-size: 85%;
  position:absolute;
  bottom:180px; right:0;
  float: right top;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 2px;
  border: 2px solid black;
  max-width: 300px;
}

.button {
  position:absolute;
  top:80px; right:20;
  margin-left: 25px;
  text-shadow: 1px 1px white;
  border-radius: 10%;
  border: black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  font-size: 26px;

}