body{
  height: 1000px;
}
html *
{
  color: #000 !important;
  font-family: Arial !important;
}

#programDisclaimer{
  position: fixed;
  top: 0px;
  left: 1220px;
  max-width: 500px;
}
#content,
#UI {
  float: left;
  border: 2px solid black;
}
#map{
  position:absolute;
  top:0px;
  left: 700px;
}
#content {
  background-image:
  linear-gradient(0deg, rgba(8,12,24,1) 50%, rgba(34,193,195,1) 50%, rgba(0,0,0,1) 50%);
}
#wrapper{
  position:relative;
}
#UI,#content{
  position:absolute; top:0px; left:0px;
}
.settings {
  border-radius: 5px;
  left: 15px;
  top: 520px;
  float: left;
  position:absolute;
  border: 2px solid black;
  max-width: 980px;
}
.wallAdder {
  font-size: 100%;
  position:absolute;
  top:520px; right:5px;
  float: right top;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 2px;
  border: 2px solid black;
  max-width: 500px;
}
.button {
  position:absolute;
  top:20px;
  left:0px;
  margin-left: 25px;
  text-shadow: 1px 1px white;
  border-radius: 10%;
  border: black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  font-size: 26px;

}